name: Dependency Submission

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  dependency-submission:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Submit dependencies to GitHub
        uses: gradle/actions/dependency-submission@v3

